</div><!-- #squeeze -->


<div id="right">
<br />

<div class="multicentrum">
<p><b>APP Mammeonline</b></p>

<p>scaricala è gratuita</p>

<a href="https://play.google.com/store/apps/details?id=com.tapatalk.testmammeonlinenetphpBB3"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" style="display:inline-block;overflow:hidden;width:135px;height:42px" /></a>

<a href="https://geo.itunes.apple.com/it/app/mammeonline.net/id1012276720?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:135px;height:42px;"></a>
</div>

<div id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SkyscraperCuciniamo -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-0000"
     data-ad-slot="8817"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<br />

<div class="multicentrum">
<h2>Newsletter Mammeonline</h2>
<p>iscriviti, è gratuita</p>
<script language="Javascript" type="text/javascript">
function checkform() {
  for (i=0;i<fieldstocheck.length;i++) {
    if (eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].type") == "checkbox") {
      if (document.subscribeform.elements[fieldstocheck[i]].checked) {
      } else {
        alert("Per favore, inserisci il tuo "+fieldnames[i]);
        eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].focus()");
        return false;
      }
    }
    else {
      if (eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].value") == "") {
        alert("Per favore, inserisci il tuo "+fieldnames[i]);
        eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].focus()");
        return false;
      }
    }
  }
  for (i=0;i<groupstocheck.length;i++) {
    if (!checkGroup(groupstocheck[i],groupnames[i])) {
      return false;
    }
  }
  
  return true;
}

var fieldstocheck = new Array();
var fieldnames = new Array();

function addFieldToCheck(value,name) {
  fieldstocheck[fieldstocheck.length] = value;
  fieldnames[fieldnames.length] = name;
}
var groupstocheck = new Array();
var groupnames = new Array();
function addGroupToCheck(value,name) {
  groupstocheck[groupstocheck.length] = value;
  groupnames[groupnames.length] = name;
}

function compareEmail()
{
  return (document.subscribeform.elements["email"].value == document.subscribeform.elements["emailconfirm"].value);
}

function checkGroup(name,value) {
  option = -1;
  for (i=0;i<document.subscribeform.elements[name].length;i++) {
    if (document.subscribeform.elements[name][i].checked) {
      option = i;
    }
  }
  if (option == -1) {
    alert ("Per favore, inserisci il tuo "+value);
    return false;
  }
  return true;
}
</script><form action="http://news.mammeonline.com/?p=subscribe&amp;id=4" method="post" name="signup" onsubmit="window.open('', this.target,
'dialog,modal,scrollbars=no,resizable=no,width=800,height=250,left=0,top=0');" target="windowName">
	<input name="formtoken" type="hidden" value="32737379475e41035129a03c8bcb8684" /> <input name="htmlemail" type="hidden" value="1" />	
        <div style="color:red;font-weight:bold" align="left">Email:</div>
	<input name="email" size="35" type="text" value="" /> <script language="Javascript" type="text/javascript">addFieldToCheck("email","Email");</script>
	<div style="display:none">
		<input checked="checked" name="list[7]" type="checkbox" value="signup" /><b>mammeonline</b><input name="list[7]" type="hidden" value="mammeonline" />La community di Mammeonline <input name="VerificationCodeX" size="20" type="text" value="" /></div>
	<input name="subscribe" onclick="return checkform();" size="35" type="submit" value="Iscrivimi" /></form>
</div>
<br />
<!--
-->

<div class="multicentrum">
<!-- INCLUDE ads/tiscali_300_1.js -->
</div>

<br />
<!--
<div class="multicentrum">
<p><a href="https://enjoyfoodmagazine.blogspot.it/2018/03/marzo-n3-primavera-mon-amour-il-trionfo.html" target="_blank"><img alt="" src="http://www.mammeonline.net/sites/default/files/Enjoy_primavera_badge_MOL.jpg" style="height:388px; width:300px" /></a></p>
</div>

<br />
-->

<div id="editrice">
<ins data-revive-zoneid="5795" data-revive-id="6609ba8ff88606794e22ff360400bcea"></ins>

<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
</div>

<br />
<!--
<div class="multicentrum">
<a href="http://www.mammeonline.net/content/essere-donna-diventare-mamma" target="_blank"><img alt="" src="/sites/default/files/esseredonna_diventaremamma300x300.jpg" style="height:300px; width:300px" /></a>
</div>
<br />
-->
<div class="multicentrum">
<!-- INCLUDE ads/tiscali_300_2.js -->
</div>
<br />

<div id="fb-root">&nbsp;</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=367803709185";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-header="true" data-href="http://www.facebook.com/mammeonline" data-show-faces="true" data-stream="false" data-width="300">&nbsp;</div>

</br>

<div id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250, creato 17/09/15 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-0000"
     data-ad-slot="2016"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<br />

<!--
<div class="multicentrum">
<p><a href="http://www.mammeonline.net/content/calendario-dellavvento-mamme-bambini" target="_self"><img width="145" height="100" alt="" src="/sites/default/files/Cartolina%20di%20Natale%202014%20banner%20200px.png" /></a>
<p><a href="http://www.mammeonline.net/content/calendario-dellavvento-mamme-bambini" target="_blank"><img width="300" height="200" alt="" src="/sites/default/files/Postclick25.png" /></a></p>
</div>
<div class="multicentrum">
<p><a href="http://cuciniamo.mammeonline.net/operazione-pizzaninja/" target="_blank"><img width="300" height="250" alt="" src="/sites/default/files/logo2.gif" /></a></p>
</div>
-->
<br />

<div class="multicentrum"><br />
<p class="rtecenter" style=""><a class="twitter-timeline" data-widget-id="293282730312081408" href="https://twitter.com/mammeonline"><img alt="" src="/sites/default/files/images/100_twitter_logo.jpg" style="width: 100px; height: 56px; " /></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>
<br />


<div class="multicentrum">
<p>
<a href="http://www.mammeonline.net/blogs/Recensioni" title="Provato per te" target="_blank">
<img width="300" height="200" src="/sites/default/files/images/Provatoperte20x30.jpg" alt="Provato per te" /></a>
<br />
<strong>da mamma a mamma</strong>
</p>
</div>

<br />
<div id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250, creato 17/09/15 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-0000"
     data-ad-slot="2016"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<br />
<!-- IF ADS_8 --><br />{ADS_8}<!-- ENDIF -->




<br />
<!-- Board navigation <img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16px" height="16px" alt="" />-->
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="tablebg">
 <tr>
  <th><span style="float: left">&nbsp NAVIGAZIONE</span></th>
 </tr>
 <tr>  
  <td class="row1" align="left">
       <span class="genmed" style="line-height: 150%">
	&raquo; <a class="mainmenu" href="http://www.mammeonline.net">{L_HOME}</a><br />
	&raquo; <a class="mainmenu" href="{U_INDEX}">{L_FORUM}</a><br />
	&raquo; <a class="mainmenu" href="{U_MEMBERLIST}">{L_MEMBERLIST}</a><br />
	&raquo; <a class="mainmenu" href="{U_FAQ}">{L_FAQ}</a><br />
	&raquo; <a class="mainmenu" href="{U_SEARCH}">{L_SEARCH}</a><br />
       </span>
  </td>
 </tr>
</table>
<br />


<div id="adsense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250, creato 17/09/15 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-0000"
     data-ad-slot="2016"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<br />


<!-- <img src="http://www.mammeonline.net/sites/default/files/image/1522.jpg" /> -->


<br />

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{L_BIRTHDAYS}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_BIRTHDAYS}" /></td>
		<td class="row1" width="100%"><p class="genmed"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p></td>
	</tr>
	</table>
<!-- ENDIF -->



</div><!-- #right -->


<!--
</div> #center -->

<!--
</div> #container -->