<div id="container">

<div id="logo-floater">
	<h1>
        <a title="Mammeonline...  essere donna, diventare mamma" href="/">
        <img src="http://www.mammeonline.net/phpBB3/styles/subsilver2/imageset/logoMOL.png" border="0" >
        </a>
        </h1>
</div>

<div id="menutop">
   <!-- INCLUDE redbar.html -->
</div>

<!-- INCLUDE ads/tiscali_top.js -->

<script type="text/javascript" src="ddwindowlinks.js">

/***********************************************
* Open offsite links in new window- (c) Dynamic Drive (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

      <div id="center"><div id="squeeze">