<!-- Krux Control Tag for "Mammeonline" -->
<!-- Source: /snippet/controltag?confid=Jz9ESoJz&site=Mammeonline&edit=1 -->
<script class="kxct" data-id="Jz9ESoJz" data-timing="async" data-version="1.9" type="text/javascript">
  window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
  (function(){
    var k=document.createElement('script');k.type='text/javascript';k.async=true;
    var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
    k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
      (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=Jz9ESoJz";
    var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
  }());
</script>



<!-- TGADV -->
	<script language="JavaScript" type="text/javascript" src="http://adv.tgadvapps.it/library/advlibrary.js"></script>
	<script language="JavaScript" type="text/javascript">
		//<![CDATA[
			// ADVTG.forcePreview=true;
			// ADVTG.wlrcmd = 'fordcross';
	    ADVTG.siteName = 'mammeonline';   //Da valorizzare con il nome del sito per recuperare il tag completo (ex: buttalapasta)
   	 ADVTG.siteSection = 'home'; //Da valorizzare con il nome della sezione per recuperare il tag completo (ex: home)
   	 ADVTG.siteHaveTopBar = false; //Indica se è presente o meno la barra di nanopress
		 ADVTG.forceleaderboard = false;
	    ADVTG.siteContainerWidthPx = 982;   //Dimensione del container in PX 
   	 ADVTG.init();    //Appende lo script con i tag per il sito indicato con siteName
	//]]>
	</script>
	<script language="JavaScript" type="text/javascript">
		//<![CDATA[ 
		ADVTG.loadConf();
		//]]>
	</script>  
	<script language="JavaScript" type="text/javascript">
		//<![CDATA[
		ADVTG.setConf();
		//]]>
	</script>

